.vehPhoto {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto 0;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 15px;
  }
.heading {
    color: #000;
    border-bottom: 2px solid #dedede;
    margin: 0;
    width: 100%;
    padding: 15px 0;
    letter-spacing: 4px;
    text-align: center;
  } 
.vehPhoto {
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin: 10px 5px;
    
}
.vehPhoto > img {
    position: absolute;
    margin: auto;
    min-height: 200px;
    min-width: 300px;
    width: 300px;
    height: auto;
    animation: slideanim .2s ease-out ;
}

.container {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;
}

.containerPhoto {
    position: relative;
    flex-grow: 1;
}
.containerInfo {
    flex-grow: 1;
    margin: auto 5px;
}

.containerInfo > h3 {
    font-size: 14pt;
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid #dedede;
}

.containerInfo > h3 > span {
    font-family: 'ProximaNovaBold';
    color: #faa71a;
}

.slidebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 10px;
    z-index: 2;
    width: 25px;
    height: 25px;
    padding: 5px;
    background: white;
    border-radius: 5px;
}

.block {
    display: block;
}

.none {
    display: none;
}

.dec {
   left: 0;
}

.inc {
    right: 0;
}

@keyframes slideanim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 500px) {
}
