.docPhoto {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0px;
}
.main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
.docPhoto > img {
    position: absolute;
    min-height: 300px;
    min-width: 400px;
    width: 500px;
    height: auto;
}
.heading {
    color: #000;
    border-bottom: 2px solid #dedede;
    margin: 0;
    width: 100%;
    padding: 15px 0;
    letter-spacing: 4px;
    text-align: center;
  }

.container {
    display: flex;
    flex-flow: row wrap;
}

.containerPhoto {
    flex-grow: 1;
}
.containerInfo {
    flex-grow: 1;
    padding: 20px;
}

@media only screen and (max-width: 500px) {
    .docPhoto {
        width: 80%;
        margin: 0 auto;
    }
}
