
.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 15px;
  }
.docPhoto {
    margin: 10px 0;
}
.docPhoto > img {
    max-width: 280px;
    height: auto;
}
.heading {
    display: flex;
    align-self: stretch;
    border-bottom: 2px solid #dedede;
    padding: 0;
    padding-left: 42px;
  }
.heading > h1 {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 15px 0;
    overflow: hidden;
    color: #2b2929;
    letter-spacing: 4px;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.containerPhoto {
    width: 100%;
    display: grid;
    grid-template-columns: 280px 280px ;
    grid-column-gap: 15px;
}
.containerInfo {
    flex-grow: 1;
    padding: 20px;
}

.approveImg {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    width: 32px;
    position: relative;
}

.approveImg > img {
    width: inherit;
    max-width: 32px;
    max-height: 32px;
    height: inherit;
}
@media only screen and (max-width: 1100px){
    .containerPhoto {
        grid-template-columns: 280px  ;
       
    }
}

@media only screen and (max-width: 500px) {
    .docPhoto {
        margin: 10px auto 0 auto;
    }

}
